/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #pageWrapper, #board {
  width: 100%;
  height: 100%;
}

body {
  background-color: #15006f;
}

#board {
  overflow: hidden;
  border: 0.3vw solid black;
}

#pageWrapper {
}

.category {
  float: left;
  width: 19.88vw;
  height: 100%;
  list-style: none;
  color: #fff;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.category > li {
  height: 16.66%;
  background-color: #15006f;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  text-transform: uppercase;
  text-align: center;
  border: 0.1vw solid black;
}

.show-amount:hover {
  border-color: #dd8040;
  cursor: pointer;
}

.category > li.category-name {
  font-size: 2vw;
  border-bottom: 0.3vw solid black;
}

.clue-tile span {
  display: none;
}

li.show-clue, li.show-answer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.show-amount .amount,
.show-clue .clue,
.show-answer .answer {
  display: inline;
}

.amount {
  color: #dd8040;
  font-size: 5vw;
  font-family: impact;
  text-shadow: 0.5vw 0.4vw black;
}

.clue {
  display: none;
  font-size: 5vw;
}

.answer {
  display: none;
  font-size: 5vw;
}
